.Event {
  border: blueviolet;
  padding: 10px;
  margin: 10px;
}

.Description {
  color: darkslategrey;
}

.Date {
  color: darkred;
  text-decoration: underline;
}

.Category {
  font-weight: 900;
}